ICP 5/Source Code/flows.json
[{"id":"15289078.7825b","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"3a8fdba1.c41204","type":"twitter-credentials","z":"","screen_name":"tonditfk"},{"id":"36219648.c56c1a","type":"inject","z":"15289078.7825b","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":380,"y":380,"wires":[["928b412d.8be5f"]]},{"id":"928b412d.8be5f","type":"openweathermap","z":"15289078.7825b","name":"Tonderai Kambarami","wtype":"current","lon":"","lat":"","city":"Kansas City","country":"United States","language":"en","x":740,"y":260,"wires":[["15b49c31.bc96f4","3340046.677b2fc"]]},{"id":"15b49c31.bc96f4","type":"debug","z":"15289078.7825b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1430,"y":100,"wires":[]},{"id":"4a51f3b2.a70cfc","type":"e-mail","z":"15289078.7825b","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"tonditfk@gmail.com","dname":"Tonderai","x":1460,"y":300,"wires":[]},{"id":"b86f5865.75d7f8","type":"twitter out","z":"15289078.7825b","twitter":"3a8fdba1.c41204","name":"tonditfk","x":1460,"y":460,"wires":[]},{"id":"3340046.677b2fc","type":"function","z":"15289078.7825b","name":"Convert Message","func":"msg = {payload: msg.payload['description']}\n\nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":340,"wires":[["4a51f3b2.a70cfc","b86f5865.75d7f8"]]}]